<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body> -->
    <!-- <%-include('util/_header'); %> -->


    <h1>Welcome to <%= title %></h1>
    <% if(locals.user) { %>
     <section>
        <h4>Create A Tweet!</h4>
        <form action="/tweets/Create" method="POST">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Your tweet..."></textarea>
            <input type="submit" value="Create Tweet">
        </form>
     </section>
     <% } %> 
     <div>
        <ul>
            <h3>All Tweets with name</h3>
            <% for(tweet of tweets){ %>
                
            <li><h2><%= tweet.content %></h2></li>
            <small><b>User name: <%= tweet.user.name %></b> </small>
            
      <div>
            <% if (locals.user) { %>
                <form action="/comments/create" method="POST">
                    <input type="text" name="content" id="" placeholder="Your comment">
                    <input type="hidden" name="tweet" id="" value="<%= tweet._id %>">
                    <input type="submit" name="" id="" value="Add Comment">
                </form>
            <% } %>  
        </div>
        
        <hr>




           <%  } %> 
        </ul>
     </div>

    <!-- <%-include('util/_footer'); %> -->
    
<!-- </body>
</html> -->
